body {
        font-family: georgia, arial, serif;
        font-size: 0.9em;
        background-image: url(holev5.jpg);
        padding: 0;
}

/* LINKS */
a:link {
    color: #3cf;
    white-space: nowrap;
}
a:visited {
    color: #f66;
    white-space: nowrap;
}
a:active {
    color: #500;
    white-space: nowrap;
}
a:hover {
    color: #fff;
    white-space: nowrap;
}

a.secret:hover {
    background: none;
}

p, h1, h2, h3, h4, h5, ul {
	background-color: #f0fff0;
}

P {
        line-height: 1.2em;
        margin: 1em 5em 1em 2em;
}

h2 {
        text-align: center;
}

h3 {
        text-align: center;
}

#navigation {
        position: relative;
        left: 5em;
        top: 5em;
        float: left;
        width: 80%;

        color: white;
        background: #060;
        padding: 1em;
        margin: 0;
}
